/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #556ec2;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: max-content;
}

.tablink:hover {
  background-color: #3056d3;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: flex;
  padding: 100px 20px;
  height: 100%;
  height: max-content;
  width: max-content;
}

#Java {background-color: white;}
#Python {background-color: white;}
#CSharp {background-color: white;}
#Swift {background-color: white;}
#TypeScript {background-color: white;}